body {
  background-color: pink;
}

.btn {
    background-color: plum;
    color: white;  
    text-align: center;
    display: inline-block;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    padding: 20px 32px;
}